@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url("../images/SmallBizOwnersImg.png"); 
background-repeat: no-repeat;
background-size:cover;
background-origin: padding-box;
}

.container{
margin-top: auto;

height: 650px;
width: 600px;
align-content: center;
background-image: url("../images/12104LOGOOP.png");
background-size: contain;
background-repeat: no-repeat;
background-position:center;

}

.card{
/* height: 290px;
margin-top: 10px;
width: 400px;
/* background-color: rgba(0, 0, 0, 0.315) !important; */

/* background-color: #ffdd1a !important; */
/* position: absolute;
opacity:0.85; */ 
height: auto;
width: auto;
margin-top: 20px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: auto;
align-content: center;
background-color: #7fd8fc !important;
/* position: absolute; */
/* opacity:2.0; */
animation-name: move;
animation-duration: 3s;
animation-direction: normal;
box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.card img {
    padding: 25px 10px;
}
.card p {
    font-size: 1.75rem;
}
.rem2 {
    font-size: 2rem !important;
}

.card img {
    padding: 25px 10px;
    width: 400px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card-link{
    color: black;
}

@keyframes move{
    0%{
        transform: rotate();
    }
    100%{
        transform: rotate(360deg);
    }
        
}

/* .card-header h3{
color: black;
} */


.input-group-prepend span{
width: 40px;
background-color: #ffdd1a;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.login_btn{
color: black;
/* background-color: #FFC312; */
background-color: #ffdd1a !important;
/* background-color: #ff0202; */
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.edit_btn{
    color: black;
    background-color: #1abeff;
    width: 100px;  
}

.edit_btn:hover{
    color: black;
    background-color: white;
}

