@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url("../images/SmallBizOwnersImg.png"); 
background-repeat: no-repeat;
background-size:cover;
background-origin: padding-box;

/* background-color: rgb(125, 238, 91); */
}

.container{
/* height: 1200px;
width:1000px; */
margin-top: 110px;
height: 650px;
width: 600px;
align-content: center;
background-image: url("../images/12104LOGOOP.png");
background-size: contain;
background-repeat: no-repeat;
/* background-position:center; */
background-position:center;

}

.card{
height: 290px;
margin-top: 10px;
width: 400px;
/* background-color: rgba(0, 0, 0, 0.315) !important; */
background-color: red !important;
position: absolute;
opacity:0.65;
animation-name: move;
animation-duration: 3s;
animation-direction: normal;
}

.card-link{
    color: black;
}

@keyframes move{
    0%{
        transform: rotate();
    }
    100%{
        transform: rotate(360deg);
    }
        
}

.card-header h3{
color: black;
/* color: #1abeff; */
}


.input-group-prepend span{
width: 40px;
/* background-color: #FFC312; */
background-color: #1abeff;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.login_btn{
color: black;
/* background-color: #FFC312; */
background-color: #1abeff;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.card2{
background-color: red
}