#footer{
    background-image: url("../images/12104LOGOOP.png");
    filter: grayscale(80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-color:white;
    padding: 25px;
    background-position: bottom, center;
    display: sticky;
    justify-content: left;
    position: fixed;
    left:0;
    bottom: 0;
    right: 0;
    width: 100%;
 
}
footer img{
    height: 50px;
    width: 50px;
    margin-left: 3px;
    margin-right: 4px;

}

footer .gitHub{
    filter:invert(100%) grayscale(0%);        
}
footer .igIcon{
    filter:grayscale(0%);        
}
footer .linkedInIcon{
    filter:grayscale(0%);        
}
footer .twiiterIcon{
    filter:grayscale(0%);        
}




input{
    justify-content: left;
}
button{
    background-color: orange;
}